
body{

	margin:0;
	padding:0;
	background-image:url("background.jpg");
	
	
}
.scrollbar
{
	margin-top:25px;
	margin-left: 25px;
	float: right;
	height: 200px;
	width: 500px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	
}
 
.force-overflow
{
	min-height: 450px;
	
	
	
	
}

#overallInsideScrollBox
{
    display: inline;
	text-align: center;
	width: 300px;
	margin: auto;
}

@media screen and (max-width: 600px){
	#h1{ font-size:1.25rem;
	line-height: 1.5;
	
	

	}
}

@media screen and (max-width: 600px){
	#h2{ font-size:1.25rem;
	line-height: 1.5;
	

	}
}
@media screen and (max-width: 600px){
	#h5{ font-size:1.25rem;
	line-height: 1.5;
	
	}
}


